a.btn-primary {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background-color: #78d112;
  color: black;
  border-color: forestgreen;
}
#row {
  margin: 1%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.row {
  margin: 1%;
  margin-bottom: 5%;
}
.slider {
  width: 100%;
}
.card{
  margin-left: 50%;
}
