<div *ngIf="isLoading == true">
  <img id="loader" src="assets/Images/Loading_icon.gif">
</div>
<div *ngIf="isLoading == false">
  <div class="slidecontainer">
    5€ <input type="range" min="5" max="12" value="12" class="slider" id="myRange" (input)="valueChanged($event)"> 12€
   </div>
   
 
 <div *ngFor="let pizza of pizzasFilter">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <img [src]="pizza.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pizza.nom}}</h5>
          <p class="card-text">{{pizza.ingredient}}</p>
          <a class="btn btn-primary" (click)="commanderPizza()">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
 </div>
  <!--<div id="body" *ngFor="let pizza of pizzas">
    <div class="row">

    </div>
  </div>-->
</div>
