input.btn-primary {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background-color: orange;
  color: black;
  border-color: orangered;
}
h4 {
  text-align: center;
}
p#prix {
  text-align: center;
}
#loader {
  background-color: lightgrey;
}
