<form #formulaire="ngForm">
  <div *ngIf="isLoading == false">
    <div class="row">
      <div class="col-sm">
        <h4>Base</h4>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col">
            <input id="tomate" type="radio" name="tomate"  [(ngModel)]="pizza.base" value="T"><p>Tomate 3€</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="radio" name="creme"  [(ngModel)]="pizza.base" value="C"> <p>Crème 4€</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <h4>Ingrédients</h4>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-sm-6">
            <input id="anchois" type="checkbox" name="ingrédients" [(ngModel)]="pizza.hasAnchois"> <p>Anchois 1€</p>
          </div>
          <div class="col-sm-6">
            <input id="jambon" type="checkbox" name="ingrédients" [(ngModel)]="pizza.hasJambon"> <p>Jambon 2€</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input id="miel" type="checkbox" name="ingrédients" [(ngModel)]="pizza.hasMiel"> <p>Miel 3€</p>
          </div>
          <div class="col-sm-6">
            <input id="magret" type="checkbox" name="ingrédients" [(ngModel)]="pizza.hasMagret"> <p>Magret 4€</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p id="prix">Prix Final = {{pizza.prix()}} €</p>
    </div>
    <div class="row">
      <input class="btn btn-primary" id="submit" type="submit"  [disabled]="!pizza.isFormulaireValid()" name="commander" (click)="commander()" value="Commander">
    </div>
  </div>
  <div *ngIf="isLoading">
    <img id="loader" src="assets/Images/Loading_icon.gif">
  </div>
</form>
