/* You can add global styles to this file, and also import other style files */
body {
  margin-top: 6%;
  margin-bottom: 6%;
  background-image: url('terrain.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p {
  color: white;
}
