p {
  color: aqua;
}
tfoot {
  text-align: center;
  border: solid black;
  margin-bottom: 3%;
  margin-top: 3%;
  color: #78d112;
}
thead {
  text-align: center;
  border: solid black;
  margin-bottom: 3%;
  margin-top: 3%;
}
tbody {
  text-align: center;
  border: solid black;
  margin-bottom: 3%;
  margin-top: 3%;
}
table {
  margin : auto;
  padding-right: 50%;
  background-image: url("../assets/Images/texture-fond-table.jpg");
  background-position: center;
  width: 40%;
}
#title {
  color: #78d112;
}
