#list {
  font-weight: bold;
}
a.btn-primary {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background-color: #78d112;
  border-color: forestgreen;
  color: black;
}
div.row {
  margin-top: 2%;
}
