#list {
  font-weight: bold;
}
a.btn-primary {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background-color: orange;
  color: black;
  border-color: orangered;
}
div.row {
  margin-top: 2%;
}
